# Copyright (c) 2016 by bad_db Corporation. All rights reserved.
# tddb CORPORATION CONFIDENTIAL AND TRADE SECRET

# Queen POD definition

apiVersion: v1
kind: Pod
metadata:
  name: queen
  namespace: cloud-aster
  labels:
    name: queen
spec:
  containers:
    - name: statsserver
      image: localregistryhost:localregistryport/statsserver:localregistrytag
      env:
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: STATS_SERVER_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 1953
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
    - name: iceserver
      image: localregistryhost:localregistryport/ice:localregistrytag
      env:
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      ports:
        - containerPort: 2117
        - containerPort: 2115
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
      securityContext:
        privileged: true
    - name: txman
      image: localregistryhost:localregistryport/txman:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
      ports:
        - containerPort: 4582
    - name: queendb
      image: localregistryhost:localregistryport/arc:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: PARTITION_INDEX
          value: "0"
        - name: CONTAINER_NAME
          value: "queenDb-0"
        - name: CONSUL_IP
          value: "localconsulip"
        - name: ARC_PORT
          value: "8000"
      ports:
        - containerPort: 2000
        - containerPort: 8000
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
      securityContext:
        privileged: true
    - name: qosmanager
      image: localregistryhost:localregistryport/qosmanager:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: STATS_SERVER_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 2011
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
    - name: sysman
      image: localregistryhost:localregistryport/sysman:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        #- name: CONSUL_IP
        #  value: "localconsulip"
        - name: STATS_SERVER_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 2105
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
    - name: queenexec
      image: localregistryhost:localregistryport/queenexec:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 2406
        - containerPort: 2407
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
        - mountPath: /dev/shm/td_qg_ipc
          name: shared-memory
        - mountPath: /var/opt/tddb/tdqg
          name: qg-var
        - mountPath: /opt/tddb/tdqg
          name: qg-opt
    - name: procmgmt
      image: localregistryhost:localregistryport/procmgmt:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: JAVA_HEAP_LIMIT
          value: "128m"
      ports:
        - containerPort: 1990
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
    - name: mailman
      image: localregistryhost:localregistryport/mailman:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 2007
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
    - name: txmanslave
      image: localregistryhost:localregistryport/txmanslave:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 1985
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
    - name: astershell
      image: localregistryhost:localregistryport/astershell:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 22
      volumeMounts:
        - mountPath: /primary/tmp
          name: queen-tempspace
  imagePullSecrets:
    - name: regsecret
  volumes:
    - name: queen-tempspace
      emptyDir: {}
    - name: shared-memory
      hostPath:
        path: /dev/shm/td_qg_ipc
    - name: qg-var
      hostPath:
        path: /var/opt/tddb/tdqg
    - name: qg-opt
      hostPath:
        path: /opt/tddb/tdqg
