# Copyright (c) 2016 by bad_db Corporation. All rights reserved.
# tddb CORPORATION CONFIDENTIAL AND TRADE SECRET

# Worker 2 POD definition

apiVersion: v1
kind: Pod
metadata:
  name: worker2
  namespace: AsterNamespace
  labels:
    name: worker2
spec:
  containers:
    - name: statsserver
      image: localregistryhost:localregistryport/statsserver:localregistrytag
      env:
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          value: "172.17.0.9"
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: STATS_SERVER_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 1953
      volumeMounts:
        - mountPath: /primary/tmp
          name: worker-tempspace
    - name: iceserver
      image: localregistryhost:localregistryport/ice:localregistrytag
      env:
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      ports:
        - containerPort: 2117
        - containerPort: 2115
      volumeMounts:
        - mountPath: /primary/tmp
          name: worker-tempspace
      securityContext:
        privileged: true
    - name: txmanslave
      image: localregistryhost:localregistryport/txmanslave:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          value: "172.17.0.9"
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 1985
      volumeMounts:
        - mountPath: /primary/tmp
          name: worker-tempspace
    - name: workerdb
      image: localregistryhost:localregistryport/arc:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          value: "172.17.0.9"
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: PARTITION_INDEX
          value: "1"
        - name: CONSUL_IP
          value: "localconsulip"
        - name: ARC_PORT
          value: "9002"
      ports:
        - containerPort: 9002
      volumeMounts:
        - mountPath: /primary/tmp
          name: worker-tempspace
      securityContext:
        privileged: true
    - name: runner
      image: localregistryhost:localregistryport/runner:localregistrytag
      env:
        - name: WORKER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYSMAN_IP
          value: "172.17.0.9"
        - name: DOCKER_HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      ports:
        - containerPort: 2000
      volumeMounts:
        - mountPath: /primary/tmp
          name: worker-tempspace
        - mountPath: /dev/shm/td_qg_ipc
          name: shared-memory
        - mountPath: /var/opt/tddb/tdqg
          name: qg-var
        - mountPath: /opt/tddb/tdqg
          name: qg-opt
      securityContext:
        privileged: true
  imagePullSecrets:
    - name: regsecret
  volumes:
    - name: worker-tempspace
      emptyDir: {}
    - name: shared-memory
      hostPath:
        path: /dev/shm/td_qg_ipc
    - name: qg-var
      hostPath:
        path: /var/opt/tddb/tdqg
    - name: qg-opt
      hostPath:
        path: /opt/tddb/tdqg
