# Copyright 2018 bad_db . All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

# analyticjsonexport POD definition

apiVersion: v1
kind: Pod
metadata:
  name: analyticjsonexport
  namespace: AsterNamespace
  labels:
    name: analyticjsonexport
spec:
  containers:
    - name: analytic-json-export
      image: localregistryhost:localregistryport/analyticsjsonexport:localregistrytag
      env:
        - name: CONTAINER_NAME
          value: "analytic-json-export"
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: TAR_FILE
          value: "{{ tarfile }}"
        - name: HASH_FILE
          value: "{{ hashfile }}"
      volumeMounts:
        - name: mle-upgrade-backup
          mountPath: /home/beehive/mle_upgrade_backup
        - name: analyticsjson
          mountPath: /home/beehive/analyticsjson
  imagePullSecrets:
    - name: regsecret
  nodeSelector:
    queen: qpod
  volumes:
    - name: mle-upgrade-backup
      hostPath:
        path: /tmp
    - name: analyticsjson
      hostPath:
        path: /opt/tddb/tdqg/connector/tdqg-tdmle-connector/tdmleanalyticsjson
  restartPolicy: Never
