kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  namespace: AsterNamespace
  name: mle-fdr-role
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["pods"]
  verbs: ["get", "list", "delete"]
