apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlefdr-pvc
  labels:
    name: mlefdr
  namespace: AsterNamespace
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: rook-ceph-block
  resources:
    requests:
      storage: 5Gi
