# Copyright 2018 bad_db. All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET
#
#  This is a configmap which stores the MLEngine alert rules.
#  These alert rules are scraped by the Prometheus and the alerts are triggered
#  when the expression in the alert condition holds true.
#
#  PromQL is used to create the alert conditions.
#  This file gets called in main.yml file during installation of ML Engine.

apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: mlengine-rules-v1
      namespace: AsterNamespace
      labels:
        prometheus-rules: enabled  # this is important
    data:
      mlengine.rules: |
        #The following prefixes are used for the names of some devices in
        #the /dev hierarchy, to identify the type of device:
        #  1. SCSI driver, also used by libATA (modern PATA/SATA driver), USB,
        #  IEEE 1394, etc.
        #  SATA block device can be used here as : /dev/sd.+
        #    sd: mass-storage driver
        #      sda: first registered device
        #        sda1: first partition on this disk
        #        sda5: first logical drive in the extended partition
        #      sdb, sdc, etc.: second, third, etc. registered devices
        #  2. IDE driver (previously used for ATA hard disk drive, ATAPI
        #  optical disc drives, etc.)
        #  ATA block device can be used here as : /dev/hd.+
        #    hd: hard disk driver
        #      hda: the master device on the first ATA channel
        #        hda1: first primary partition on this disk
        #         hda5: first logical drive in the extended partition
        #      hdb: the slave device on the first ATA channel
        #      hdc: the master device on the second ATA channel
        #      hdd: the slave device on the second ATA channel
        #  3. MAC OS X block device looks like disk[0-n]
        #  MAC block device can be used here as : /dev/disk.+
        #    Disk: disk[0-n]
        #      Disk Partition: disk[0-n]s[0-n]
        #      For example, /dev/disk0s1 is the first partition of /dev/disk0.
        #  4. AWS EBS volumes (Linux) can be used here as : /dev/xv.+
        groups:
        - name: mlEngineAlertRules.yaml
          rules:
          # To store the total amount of disk space available(limit) in bytes.
          - record: instance:disk_space_limit
            expr: container_fs_limit_bytes{device=~"/dev/sd.+|/dev/disk.+|/dev/xv.+|/dev/hd.+",id="/"}
          # To store the amount of disk space consumed in bytes.
          - record: instance:disk_space_used
            expr: container_fs_usage_bytes{device=~"/dev/sd.+|/dev/disk.+|/dev/xv.+|/dev/hd.+",id="/"}
          # To store the percentage of the disk space consumed.
          - record: instance:disk_space_usage_percentage
            expr: instance:disk_space_used / instance:disk_space_limit * 100
          # To store the difference between predicted and limit bytes after 4 hrs
          # by analysing 1 hour data(5% is reserved for root user by the OS).
          - record: instance:disk_space_predict
            expr: predict_linear(instance:disk_space_used[1h], 4 * 3600) - instance:disk_space_limit
                  * 0.75
          # Please note that 5% is reserved for root user by the OS.
          # This rule predicts and alerts before 4 hours if the container disk gets filled.
          - alert: TDMLEPredictDiskFull80Percent
            expr: instance:disk_space_predict > 0
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: warning
            annotations:
              cause: ""
              description: On {{ $labels.instance }}, container disk space exhausts soon in
                           {{ $labels.device }} device.
              recommendation: ""
              summary: MLEngine container disk space exhausts soon
          # Please note that 5% is reserved for root user by the OS. So, the
          # disk space usage comparison is done against 90 - 5 = 85 percent.
          # Alerts if the disk space usasge is more than 85%.
          - alert: TDMLEDiskFull90Percent
            expr: instance:disk_space_usage_percentage > 85
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: critical
            annotations:
              cause: ""
              description: On {{ $labels.instance }}, 90% container disk space got consumed
                           in {{ $labels.device }} device.
              recommendation: ""
              summary: 90% MLEngine container disk space got consumed
          # Please note that 5% is reserved for root user by the OS.
          # Alerts if the disk space usage is between 75 and 85.
          - alert: TDMLEDiskFull80Percent
            expr: instance:disk_space_usage_percentage > 75 and instance:disk_space_usage_percentage
                  <= 85
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: warning
            annotations:
              cause: ""
              description: On {{ $labels.instance }}, 80% container disk space got consumed
                           in {{ $labels.device }} device.
              recommendation: ""
              summary: 80% MLEngine container disk space got consumed.
          # Please note that 5% is reserved for root user by the OS.
          # Alerts if the disk space usage is between 60 and 75.
          - alert: TDMLEDiskFull65Percent
            expr: instance:disk_space_usage_percentage > 60 and instance:disk_space_usage_percentage
                  <= 75
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: warning
            annotations:
              cause: ""
              description: On {{ $labels.instance }}, 65% container disk space got consumed
                           in {{ $labels.device }} device.
              recommendation: ""
              summary: 65% MLEngine container disk space got consumed
          # This rule alerts when one of the worker pod is down/unreachable
          - alert: TDMLEPodDown
            expr: kube_pod_status_phase{namespace="AsterNamespace",phase="Running",pod=~"worker.*"}
                  == 0 or kube_pod_status_ready{condition="true",namespace="AsterNamespace",pod=~"worker.*"}
                  == 0
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: critical
            annotations:
              cause: ""
              description: On {{ $labels.pod }}, worker pod is down/unreachable.
              recommendation: ""
              summary: One of the MLEngine worker pod is down/unreachable.
          # This rule alerts if any of the vWorker goes down in all the worker pods
          - alert: TDMLEVWorkerDown
            expr: kube_pod_container_status_running{container=~"workerdb.*",namespace="AsterNamespace"}
                  == 0
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: critical
            annotations:
              cause: ""
              description: On {{ $labels.pod }}, {{ $labels.container }} is down.
              recommendation: ""
              summary: One of the MLEngine vWorker is down.
          # This rule alerts when any of the worker pod's containers restarting more
          # than once during last one hour.
          - alert: TDMLEPodRestart
            expr: rate(kube_pod_container_status_restarts{namespace="AsterNamespace",pod=~"worker.*"}[1h])
                  * 3600 > 1
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
              severity: warning
            annotations:
              cause: ""
              description: On {{ $labels.pod }}, {{ $labels.container }} is restarted more
                           than once during last one hour.
              recommendation: ""
              summary: '{{ $labels.pod }} of the MLEngine, restarted more than once during
                       last one hour.'
          # This rule alerts when replication factor of any vWorker becomes zero.
          # Custom metrics won't need 'severity' label
          - alert: TDMLERFZero
            expr: rf_count_zero == 1
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
            annotations:
              cause: ""
              description: '{{ $labels.msg }}, reported by: {{ $labels.container_name }}.'
              recommendation: ""
              summary: Replication Factor is zero.
          # This rule alerts when beehive is up and seems ok.
          # Custom metrics won't need 'severity' label
          - alert: TDMLESystemUp
            expr: beehive_ok == 1
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
            annotations:
              cause: ""
              description: '{{ $labels.msg }}, reported by: {{ $labels.container_name }}.'
              recommendation: ""
              summary: Beehive seems ok.
          # This rule alerts when FDR reached maximum attempts.
          - alert: TDMLEFdrReachedMaxAttempts
            expr: fdr_reached_max_attempts == 1
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
            annotations:
              cause: ""
              description: '{{ $labels.msg }}, reported by: {{ $labels.container_name }}.'
              recommendation: "Please Contact Support"
              summary: FDR reached maximum attempts.
          # This rule alerts when FDR Sequence failed due to timeout.
          - alert: TDMLEFdrTimeOut
            expr: fdr_time_out == 1
            for: 1s
            labels:
              action_required: "true"
              domain: MLEngine
            annotations:
              cause: ""
              description: '{{ $labels.msg }}, reported by: {{ $labels.container_name }}.'
              recommendation: "Please Contact Support"
              summary: FDR Sequence failed due to timeout.
