apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: mletvicleanup
  namespace: AsterNamespace
spec:
  selector:
    matchLabels:
      name: mletvicleanup
  template:
    metadata:
      labels:
        name: mletvicleanup
    spec:
      containers:
      - name: promcleanup
        image: alpine
        args:
        - /bin/sh
        - -c
        - while true; do find /var/log/prometheus_node_exporter/ -maxdepth 1
          -mmin +30  -type f -name "*_metric.prom" -delete;sleep 60; done;
        volumeMounts:
        - name: node-exporter-textfiledir
          mountPath: /var/log/prometheus_node_exporter
      volumes:
      - name: node-exporter-textfiledir
        hostPath:
          path: /var/log/prometheus_node_exporter
