---
 apiVersion: v1
 kind: List
 items:
   - apiVersion: v1
     kind: Service
     metadata:
       name: queen
       namespace: AsterNamespace
       labels:
         name: queen
       annotations:
         service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
     spec:
       # Required to make the service headless so you can address individual stateful set nodes
       clusterIP: None
       ports:
         - name: statsserverport
           port: 1953
         - name: iceserverport1
           port: 2117
         - name: iceserverport2
           port: 2115
         - name: txmanport
           port: 4582
         - name: queendbport1
           port: 8000
         - name: queendbport2
           port: 2000
         - name: qosslaveexecport
           port: 2200
         - name: amvdbport
           port: 8002
         - name: qosmanagerport
           port: 2011
         - name: sysmanport
           port: 2105
         - name: queenexecport1
           port: 2406
         - name: queenexecport2
           port: 2407
         - name: procmgmtport
           port: 1990
         - name: mailmanport
           port: 2007
         - name: webservicesport
           port: 30008
         - name: txmanslaveport
           port: 1985
         - name: astershellport
           port: 22
         - name: cleanupdaemonport
           port: 2006
         - name: rumport
           port: 2195
         - name: sshdsidecarport
           port: 32222
         - name: metasrvport
           port: 7091
       selector:
         name: queen

   - apiVersion: apps/v1
     kind: StatefulSet
     metadata:
       name: queen
       namespace: AsterNamespace
       labels:
         name: queen
     spec:
       serviceName: queen
       replicas: 1
       selector:
         matchLabels:
           name: queen
       template:
         metadata:
           name: queen
           labels:
             name: queen
         spec:
           affinity:
             podAntiAffinity:
               preferredDuringSchedulingIgnoredDuringExecution:
                 - weight: 100
                   podAffinityTerm:
                     labelSelector:
                       matchExpressions:
                         - key: name
                           operator: In
                           values:
                             - queen
                     topologyKey: kubernetes.io/hostname
           volumes:
             - name: queen-tempspace
               emptyDir: {}
             - name: local-tmp
               emptyDir: {}
             - name: shared-memory
               hostPath:
                 path: /dev/shm/td_qg_ipc
             - name: qg-var
               hostPath:
                 path: /var/opt/tddb/tdqg
             - name: qg-opt
               hostPath:
                 path: /opt/tddb/tdqg
             - name: qg-tdconfig
               hostPath:
                 path: /etc/opt/tddb/tdconfig/tdqg
             - name: etc-hostname
               hostPath:
                 path: /etc/hostname
             - name: security-credentials
               projected:
                 sources:
                 - secret:
                     name: arcserver
                 - secret:
                     name: arcclient
                 - secret:
                     name: iceserver
                 - secret:
                     name: configjson
             - name: aster-amvdb
               persistentVolumeClaim:
                 claimName: amvdb-pvc
             - name: aster-queendb
               persistentVolumeClaim:
                 claimName: queendb-pvc
             - name: ssh-host-rsa-key
               secret:
                 secretName: ssh-host-rsa-key
                 defaultMode: 256
             - name: websrv-https-credentials
               secret:
                 secretName: webservices
             - name: ssh-host-rsa-key-pub
               configMap:
                 name: ssh-host-rsa-key-pub
                 defaultMode: 420
             - name: ssh-authorized-keys
               configMap:
                 name: ssh-authorized-keys
             - name: arc-client-credentials
               emptyDir: {}
             - name: node-exporter-textfiledir
               hostPath:
                 path: /var/log/prometheus_node_exporter
           nodeSelector:
             queen: qpod
           imagePullSecrets:
             - name: regsecret
           initContainers:
             - name: securitysetup
               image: localregistryhost:localregistryport/setupcommon:localregistrytag
               volumeMounts:
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
           containers:
             - name: statsserver
               resources:
                 requests:
                   memory: "{{ REQ_MEM_STATSSERVER }}"
                   cpu: "{{ REQ_CPU_STATSSERVER }}"
               image: localregistryhost:localregistryport/statsserver:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "statsserver"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: NODE_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.hostIP
                 - name: STATS_SERVER_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: STATS_UPDATE_INTERVAL_SEC
                   value: "5"
               ports:
                 - containerPort: 1953
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
             - name: iceserver
               resources:
                 requests:
                   memory: "{{ REQ_MEM_ICE }}"
                   cpu: "{{ REQ_CPU_ICE }}"
               image: localregistryhost:localregistryport/ice:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "iceserver"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
               ports:
                 - containerPort: 2117
                 - containerPort: 2115
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               securityContext:
                 privileged: true
             - name: txman
               resources:
                 requests:
                   memory: "{{ REQ_MEM_TXMAN }}"
                   cpu: "{{ REQ_CPU_TXMAN }}"
               image: localregistryhost:localregistryport/txman:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "txman"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 4582
             - name: queendb
               resources:
                 requests:
                   memory: "{{ REQ_MEM_ARC }}"
                   cpu: "{{ REQ_CPU_ARC }}"
               image: localregistryhost:localregistryport/arc:localregistrytag
               env:
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: CONTAINER_NAME
                   value: "queenDb-0"
                 - name: ARC_PORT
                   value: "8000"
                 - name: STATS_SERVER_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name:  QOS_SLAVE_EXEC_PORT
                   value: "2200"
                 - name: STATS_UPDATE_INTERVAL_SEC
                   value: "5"
               volumeMounts:
                 - name: aster-queendb
                   mountPath: /home/beehive/pvc/queendbpvc
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - mountPath: /tmp
                   name: local-tmp
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 2000
                 - containerPort: 8000
               securityContext:
                 privileged: true
             - name: amvdb
               resources:
                 requests:
                   memory: "{{ REQ_MEM_ARC }}"
                   cpu: "{{ REQ_CPU_ARC }}"
               image: localregistryhost:localregistryport/arc:localregistrytag
               env:
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: CONTAINER_NAME
                   value: "amvDb-0"
                 - name: ARC_PORT
                   value: "8002"
               volumeMounts:
                 - name: aster-amvdb
                   mountPath: /home/beehive/pvc/amvdbpvc
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - mountPath: /tmp
                   name: local-tmp
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 8002
               securityContext:
                 privileged: true
             - name: qosmanager
               resources:
                 requests:
                   memory: "{{ REQ_MEM_QOSMANAGER }}"
                   cpu: "{{ REQ_CPU_QOSMANAGER }}"
               image: localregistryhost:localregistryport/qosmanager:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "qosmanager"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: QOS_SLAVE_EXEC_PORT
                   value: "2200"
                 - name: STATS_SERVER_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 2011
             - name: qlmmaster
               resources:
                 requests:
                   memory: "{{ REQ_MEM_QLMMASTER }}"
                   cpu: "{{ REQ_CPU_QLMMASTER }}"
               image: localregistryhost:localregistryport/qlmmaster:localregistrytag
               env:
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: CONTAINER_NAME
                   value: "qlmmaster"
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: STATS_UPDATE_INTERVAL_SEC
                   value: "5"
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
             - name: sysman
               resources:
                 requests:
                   memory: "{{ REQ_MEM_SYSMAN }}"
                   cpu: "{{ REQ_CPU_SYSMAN }}"
               image: localregistryhost:localregistryport/sysman:localregistrytag
               lifecycle:
                 preStop:
                   exec:
                     command: ["/bin/bash", "-c", "curl -X PUT -d down http://consul.AsterNamespace.svc.cluster.local:8500/v1/kv/AsterNamespace/sysconfig/fdr/fdrClusterState"]
               env:
                 - name: CONTAINER_NAME
                   value: "sysman"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: STATS_SERVER_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 2105
             - name: queenexec
               resources:
                 requests:
                   memory: "{{ REQ_MEM_QUEENEXEC }}"
                   cpu: "{{ REQ_CPU_QUEENEXEC }}"
               image: localregistryhost:localregistryport/queenexec:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "queenexec"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - mountPath: /tmp
                   name: local-tmp
                 - mountPath: /dev/shm/td_qg_ipc
                   name: shared-memory
                 - mountPath: /var/opt/tddb/tdqg
                   name: qg-var
                 - mountPath: /opt/tddb/tdqg
                   name: qg-opt
                 - mountPath: /etc/opt/tddb/tdconfig/tdqg
                   name: qg-tdconfig
                 - mountPath: /tmp/hostname
                   name: etc-hostname
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 2406
                 - containerPort: 2407
             - name: procmgmt
               resources:
                 requests:
                   memory: "{{ REQ_MEM_PROCMGMT }}"
                   cpu: "{{ REQ_CPU_PROCMGMT }}"
               image: localregistryhost:localregistryport/procmgmt:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "procmgmt"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: JAVA_HEAP_LIMIT
                   value: "128m"
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 1990
             - name: mailman
               resources:
                 requests:
                   memory: "{{ REQ_MEM_MAILMAN }}"
                   cpu: "{{ REQ_CPU_MAILMAN }}"
               image: localregistryhost:localregistryport/mailman:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "mailman"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 2007
             - name: webservices
               resources:
                 requests:
                   memory: "{{ REQ_MEM_WEBSERVICES }}"
                   cpu: "{{ REQ_CPU_WEBSERVICES }}"
               image: localregistryhost:localregistryport/webservices:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "webservices"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: CONTAINER
                   value: "webservices"
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 # ClusterIp of common heapster from kube-system
                 - name: HEAPSTER_SERVICE_HOST
                   value: heapster.kube-system.svc.cluster.local
                 # Port Number of common heapster from kube-system
                 - name: HEAPSTER_SERVICE_PORT
                   value: "80"
                 - name: SLM_SAMPLING_RATE
                   value: "60"
                 - name: CONSUL_SERVICE_SERVICE_HOST
                   value: consul.AsterNamespace.svc.cluster.local
                 - name: CONSUL_SERVICE_SERVICE_PORT
                   value: "8500"
                 - name: SYSMAN_IP
                   value: queen-0.queen.AsterNamespace.svc.cluster.local
               ports:
                 - containerPort: 30008
                 - containerPort: 30009
               volumeMounts:
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: websrv-https-credentials
                   mountPath: "/home/beehive/certs"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
             - name: txmanslave
               resources:
                 requests:
                   memory: "{{ REQ_MEM_TXMANSLAVE }}"
                   cpu: "{{ REQ_CPU_TXMANSLAVE }}"
               image: localregistryhost:localregistryport/txmanslave:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "txmanslave"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               ports:
                 - containerPort: 1985
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
             - name: astershell
               resources:
                 requests:
                   memory: "{{ REQ_MEM_ASTERSHELL }}"
                   cpu: "{{ REQ_CPU_ASTERSHELL }}"
               image: localregistryhost:localregistryport/astershell:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "astershell"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: CONSUL_SERVICE_SERVICE_HOST
                   value: consul.AsterNamespace.svc.cluster.local
                 - name: CONSUL_SERVICE_SERVICE_PORT
                   value: "8500"
                 - name: SYSMAN_IP
                   value: queen-0.queen.AsterNamespace.svc.cluster.local
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 22
             - name: sshdsidecar
               image: localregistryhost:localregistryport/sshdsidecar:localregistrytag
               lifecycle:
                 postStart:
                   exec:
                     command: ["/bin/bash", "-c", "cat /home/tdqg/.ssh/authorized_keys.d/* >> /home/tdqg/.ssh/authorized_keys; chown tdqg:querygrid /home/tdqg/.ssh/authorized_keys; mkdir -p /opt/tddb/tdqg/connector/tdqg-tdmle-connector/UDF; chown tdqg:querygrid /opt/tddb/tdqg/connector/tdqg-tdmle-connector/UDF"]
                 preStop:
                   exec:
                     command: ["/bin/bash", "-c", "stat -c \"%a %n\" /etc/ssh/ssh_host_rsa_key"]
               env:
                 - name: CONTAINER_NAME
                   value: "sshdsidecar"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
               ports:
                 - containerPort: 32222
               volumeMounts:
                 - mountPath: /opt/tddb/tdqg
                   name: qg-opt
                 - mountPath: /etc/ssh/ssh_host_rsa_key
                   readOnly: true
                   subPath: ssh_host_rsa_key
                   name: ssh-host-rsa-key
                 - mountPath: /home/tdqg/.ssh/authorized_keys.d
                   name: ssh-authorized-keys
                 - mountPath: /etc/ssh/ssh_host_rsa_key.pub
                   name: ssh-host-rsa-key-pub
                   subPath: ssh_host_rsa_key.pub
             - name: cleanupdaemon
               resources:
                 requests:
                   memory: "{{ REQ_MEM_CLEANUPDAEMON }}"
                   cpu: "{{ REQ_CPU_CLEANUPDAEMON }}"
               image: localregistryhost:localregistryport/cleanupdaemon:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "cleanupdaemon"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: NON_TDAP_SCHEMAS
                   value: "'public','nc_system'"
                 - name: MAX_CLEANUP_WAIT_TIME_SECONDS
                   value: "86400"
                 - name: DROP_LEAKED_TABLES
                   value: "true"
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
               ports:
                 - containerPort: 2006
             - name: rum
               resources:
                 requests:
                   memory: "{{ REQ_MEM_RUM }}"
                   cpu: "{{ REQ_CPU_RUM }}"
               image: localregistryhost:localregistryport/rum:localregistrytag
               env:
                 - name: CONTAINER_NAME
                   value: "rum"
                 - name: FS_CHECKING_INTERVAL
                   value: "30"
                 - name: FS_REJECT_NEW_QUERIES_THRESHOLD
                   value: "80%"
                 - name: FS_CANCEL_RUNNING_QUERIES_THRESHOLD
                   value: "85%"
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
                 - name: IS_QUEEN
                   value: "true"
               ports:
                 - containerPort: 2195
               volumeMounts:
                 - name: security-credentials
                   mountPath: "/home/beehive/config/security/credentials"
                 - name: arc-client-credentials
                   mountPath: /home/beehive/.postgresql
                 - name: node-exporter-textfiledir
                   mountPath: /var/log/prometheus_node_exporter
             - name: metasrv
               image: localregistryhost:localregistryport/metasrv:localregistrytag
               env:
                 - name: POD_NAMESPACE
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.namespace
                 - name: WORKER_NAME
                   valueFrom:
                     fieldRef:
                       fieldPath: metadata.name
                 - name: DOCKER_HOST_IP
                   valueFrom:
                     fieldRef:
                       fieldPath: status.podIP
               ports:
                 - containerPort: 7091
               volumeMounts:
                 - mountPath: /primary/tmp
                   name: queen-tempspace
