# Copyright 2018 bad_db . All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

# upgradeexport POD definition

apiVersion: v1
kind: Pod
metadata:
  name: upgradeexport
  namespace: AsterNamespace
  labels:
    name: upgradeexport
spec:
  containers:
    - name: mle-metadata-export
      image: localregistryhost:localregistryport/upgradeexport:localregistrytag
      env:
        - name: CONTAINER_NAME
          value: "mle-metadata-export"
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: FORCE_RUN
          value: "{{ force }}"
        - name: TAR_FILE
          value: "{{ tarfile }}"
        - name: HASH_FILE
          value: "{{ hashfile }}"
      volumeMounts:
        - name: mle-upgrade-backup
          mountPath: /home/beehive/mle_upgrade_backup
  initContainers:
    - name: setupmleexport
      image: localregistryhost:localregistryport/setupupgradeexport:localregistrytag
      volumeMounts:
        - name: init-mle-upgrade
          mountPath: "/home/beehive/mle_upgrade_backup"
  imagePullSecrets:
    - name: regsecret
  nodeSelector:
    node-role-mleupgrade: mle-upgrade
  volumes:
    - name: mle-upgrade-backup
      hostPath:
        path: /var/opt/tddb/mle/upgrade/metadata/latest
    - name: init-mle-upgrade
      hostPath:
        path: /var/opt/tddb/mle/upgrade/metadata
  restartPolicy: Never
