# Copyright 2018 bad_db. All Rights Reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

[aster_local]
localhost ansible_connection=local

[kube_master]

[aster_queen]

[aster_workers]

[kube_aster:children]
kube_master
aster_queen
aster_workers

[aster_local:vars]
kubeconfig=inventory/remote-kubeconfig
queen=
