# Copyright 2018 bad_db. All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

# Sshdsidecar service definition

apiVersion: v1
kind: Service
metadata:
  name: sshdsidecar-service
  namespace: cloud-aster
  labels:
    k8s-app: sshdsidecar-service
    kubernetes.io/cluster-service: "true"
spec:
  type: NodePort
  ports:
    - name: sshdsidecar-p1
      port: 32222
      nodePort: 32222
  selector:
    name: queen
