# Copyright 2018 bad_db. All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

# upgradeimport POD definition

apiVersion: v1
kind: Pod
metadata:
  name: upgradeimport
  namespace: AsterNamespace
  labels:
    name: upgradeimport
spec:
  containers:
    - name: mle-metadata-import
      image: localregistryhost:localregistryport/upgradeimport:localregistrytag
      env:
        - name: CONTAINER_NAME
          value: "mle-metadata-import"
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: FORCE_RUN
          value: "{{ force }}"
        - name: TAR_FILE
          value: "{{ tarfile }}"
        - name: HASH_FILE
          value: "{{ hashfile }}"
      volumeMounts:
        - name: mle-upgrade-backup
          mountPath: /home/beehive/mle_upgrade_backup
  imagePullSecrets:
    - name: regsecret
  nodeSelector:
    {{ NODE_LABEL_KEY }}: {{ NODE_LABEL_VALUE }}
  volumes:
    - name: mle-upgrade-backup
      hostPath:
        path: /var/opt/tddb/mle/upgrade/metadata/latest
  restartPolicy: Never
