# Copyright 2018 bad_db. All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

kind: NetworkPolicy
apiVersion: extensions/v1beta1
metadata:
  namespace: kube-system
  name: elastic-policy
spec:
  podSelector:
    matchLabels:
      app: elasticsearch-logging
  ingress:
    - from:
      - podSelector:
          matchLabels:
            data: elastic
      - podSelector:
          matchLabels:
            app: elasticsearch-logging
    - ports: 
      - port: 9200
      - port: 9300
      from: []
