# Copyright 2018 bad_db. All rights reserved.
# tddb CONFIDENTIAL AND TRADE SECRET

---
apiVersion: v1
kind: List
items:
  - apiVersion: apps/v1beta1
    kind: Deployment
    metadata:
      name: kibana-logging-v5.6.3
      namespace: kube-system
      labels:
        app: kibana-logging
        version: v5.6.3
        kubernetes.io/cluster-service: "true"
        data: elastic
        role: frontend
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: kibana-logging
      template:
        metadata:
          labels:
            data: elastic
            role: frontend
            app: kibana-logging
            version: v5.6.3
        spec:
          containers:
            - name: kibana-logging
              image: docker.elastic.co/kibana/kibana:5.6.2
              resources:
                # keep request = limit to keep this container in guaranteed class
                limits:
                  cpu: 1000m
                requests:
                  cpu: 100m
              ports:
                - containerPort: 5601
                  name: ui
                  protocol: TCP
              env:
                - name: "ELASTICSEARCH_URL"
                  value: "http://elasticsearch-logging.kube-system.svc.cluster.local:9200"
  - apiVersion: v1
    kind: Service
    metadata:
      name: kibana-logging
      namespace: kube-system
      labels:
        app: kibana-logging
        kubernetes.io/cluster-service: "true"
        kubernetes.io/name: "Kibana"
    spec:
      ports:
        - port: 5601
          protocol: TCP
          targetPort: ui
      selector:
        app: kibana-logging

  - apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      name: kibana-logging
      namespace: kube-system
      annotations:
        ingress.kubernetes.io/rewrite-target: /
        ingress.kubernetes.io/add-base-url: "true"
        ingress.kubernetes.io/ssl-redirect: "true"
    spec:
      rules:
        - host: kibana
          http:
            paths:
              - path: /
                backend:
                  serviceName: kibana-logging
                  servicePort: 5601
